body {
    background-color: rgb(115, 248, 186);
}

h1 {
    text-align: center;
    color: black;
    background-color: rgb(33, 225, 27);
}
.feedback {
    
    background-color: rgb(121, 241, 215);
    float: left;
}
button {
    background-color: #29af63; /* Green */
    border: none;
    color: rgb(31, 19, 19);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 17px;
}

.urls{
    padding-left: 8%;
    font-size: 27;
}
button:active {


    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}
.video{
    padding-left: 40%;
    float: left;
}
p{
    padding-top: 8;
    padding-left: 6%;
    font-size: 30px;
    color:black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form__input {
    border-radius: 8px;
    color:aquamarine;
    background-color: black;

}
h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}
