<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style2.css"> 
    <title>Глобальное потепление</title>
</head>
<body>
    <div class="text">
        <h1>Глобальное потепление</h1>
        <p>Здравствуйте наша компания хочет снизить шанс Глобального потепления и вот о чем мы вас просим сделать:
            Снизить количество выбрасываемых в атмосферу вредных веществ.
            Перейти на виды топлива, являющиеся экологически чистыми.
            Замена автомобилей, работающих на бензине, электромобилями.
            Сократить использование АЭС и ГЭС при помощи ветряных мельниц и солнечных батарей.
            Рациональное использование энергоресурсов.
            Сохранение и приумножение лесных массивов.
            Сделаете все что сможете и ПЕРЕШЛИТЕ САЙТ ДРУЗЬЯМ И РОДСТВЕНИКАМ😎👍.
        <h1>Что такое Глобальное потепление?</h1>
        <p>Глобальное потепление — это повышение средней температуры на Земле из-за увеличения выбросов парниковых газов, которые создают эффект парникового газа, удерживая тепло. Это приводит к изменению климата, экстремальным погодным условиям, таянию ледников и поднятию уровня мирового океана. Для борьбы с этим явлением необходимы снижение выбросов парниковых газов, переход на чистые источники энергии, энергоэффективность и адаптация к изменению климата.</p>
        </p>
    </div>
    <div class="feedback">
        <section class="main__feedback" id="feedback">
            <h2 class="feedback__title">FEEDBACK</h2>
            <form action="{{ url_for('form_res') }}" method="POST" class="feedback__form form">
            <label for="email">
                <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
            </label>
            <label for="text">
                <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
            </label>
            <button class="form__button" type="submit" href="/rs">ОТПРАВИТЬ</button>
            </form>
        </section>
    
    

    </div>
    <div class="video">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/wcVy-0IBpg4?si=hE1AVje5Yx2LNSjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <h2>подвал ссылок</h2>

    <div class="urls">
    <footer>
        <a href="https://github.com/pashKacapiBaraKodland">мой гитхаб</a>
        <a href="https://ria.ru/keyword_globalnoe_poteplenie/">новости про глобальное потепление</a>
    </footer>
    </div>
</body>

</html>
