<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style2.css"> 
    <title>Глобальное потепление</title>
</head>
<body>
    <div class="text">
        <h1>Глобальное потепление</h1>
        <p>Здравствуйте наша компания хочет снизить шанс Глобального потепления и вот о чем мы вас просим сделать:
            Снизить количество выбрасываемых в атмосферу вредных веществ.
            Перейти на виды топлива, являющиеся экологически чистыми.
            Замена автомобилей, работающих на бензине, электромобилями.
            Сократить использование АЭС и ГЭС при помощи ветряных мельниц и солнечных батарей.
            Рациональное использование энергоресурсов.
            Сохранение и приумножение лесных массивов.
            Сделаете все что сможете и перешлите сайт друзьям и родственикам.
        </p>
    </div>
    <div class="feedback">
        <section class="main__feedback" id="feedback">
            <h2 class="feedback__title">FEEDBACK</h2>
            <form action="{{ url_for('form_res') }}" method="POST" class="feedback__form form">
            <label for="email">
                <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
            </label>
            <label for="text">
                <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
            </label>
            <button class="form__button" type="submit" href="/rs">ОТПРАВИТЬ</button>
            </form>
        </section>
        <iframe class="video" width="660" height="415" src="https://www.youtube.com/embed/wcVy-0IBpg4?si=hE1AVje5Yx2LNSjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h2>просто кнопка(можешь потыкать)</h2>
        <button name="tap" class="tap">потыкай меня</button>

    </div>

</body>